/*	==========================================================================
	General styles
	========================================================================== */

/* Font sizes used

Base font size: 1rem = 18px

0.702rem	13px
0.79rem		14px
0.889rem	16px
1.125rem	20px
1.266rem	23px
1.424rem	26px
1.602rem	29px
1.802rem	32px
2.887rem	52px

http://modularscale.com/
8:9 major second
*/

:root {
	--primary-color: #0366d6;
	--secondary-color: #e24e42;
	--font-color: #222;
	--bg-color: #fff;
	--heading-color: #222;
    --meta-color: #999;
    --font-family: Lora, "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-meta: Raleway, "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-size-standard: 20px;
  }
  
  [data-theme="dark"] {
	--primary-color: #faed26;
	--secondary-color: #0091D5;
	--font-color: #e8e8f0;
	--bg-color: #222;
	--heading-color: #e8e8f0;
    --meta-color: #9e9e9e;
    --font-family: Lora, "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-meta: Raleway, "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-size-standard: 20px;
  }

html {
    height: 100%;
    max-height: 100%;
    background-color: var(--primary-color);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    -webkit-font-feature-settings: 'kern' 1;
    -moz-font-feature-settings: 'kern' 1;
    -ms-font-feature-settings: 'kern' 1;
    -o-font-feature-settings: 'kern' 1;
    font-feature-settings: 'kern' 1;
	height: 100%;
	min-height: 100%;
    font-family: var(--font-family);
	font-weight: 400;
    font-size: var(--font-size-standard);
    line-height: 1.6em;
    color: var(--font-color);
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
	margin-bottom: 20;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 28px;
}

h3 {
	font-size: 24px;
}

h4, h5, h6 {
	font-size: 20px;
}

p {
	margin: 0.4rem auto 1rem auto;
}

code, tt, pre {
    font-family: monospace, sans-serif;
    white-space: pre-wrap;
    font-size: 16px;
    border: none;
    background: none;
}

pre {
	/*padding: 0 2em;*/
	line-height: 1.3em;
	color: #333;
    padding: 10px 10px;
    background-color: #F1F0EA;
    word-wrap: break-word;  
}

code, tt {
	font-weight: 500;
}

pre code {
	font-weight: 300;
}

blockquote {
	padding-left: 16px;
    margin: 2rem 0;
  	border-left: 2px solid var(--primary-color);
	/*color: #9EABB3;*/
}

blockquote p {
    margin: 0.8em 0;
    font-style: italic;
}

blockquote cite {
	font-style: normal;
	font-size: var(--font-size-standard);
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: #9EABB3 1px solid;
}

ul, ol {
  margin-left: 1em;
  padding-left: 0;
  list-style-position: outside;
}

li {
    padding-left: 0.5em
}

.archive-categories {
    padding-bottom: 15px; 
    margin-bottom: 30px;
}

.archive-category-name {
    margin: 0 10px;
    color: var(--secondary-color);
}

/* Links */
.post a {
    color: var(--primary-color);
    text-decoration: none;
    border-bottom: 1px solid var(--primary-color);
}

.post a:hover {
  	color: var(--secondary-color);
    border-bottom: 1px solid var(--secondary-color);
}

.post a:visited {
    color: #9EABB3;
    border-bottom: none;
}

.post-date.u-url {
    border-bottom: none;
}

a.read-more, a.read-more:visited, a.archive-meta, a.post-date {
  	font-family: var(--font-meta);
    color: var(--meta-color);/*#FC7E0F, #DA1F15, #F17F33 */
    text-decoration: none;
}

a.read-more:hover, a.archive-meta:hover, a.post-date:hover {
  	color: var(--secondary-color); /*#FC7E0F, #DA1F15, #F17F33 */
}

a.read-more {
  	border-bottom: none;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: var(--font-color);
	text-decoration: none;
}

.post-title a {
	color: var(--font-color) !important;
	text-decoration: none !important;
}

/* Tables and dictionaries (straight up ripped out of the Casper stylesheet with minor modifications) */

table {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1.7em 0;
    width: 100%;
    max-width: 100%;
    background-color: transparent;
}

th, td {
    padding: 8px;
    line-height: 1.5;
    text-align: left;
    vertical-align: top;
    border-top: var(--meta-color) 1px solid;
}

td h3, td h4, td h5, td h6 {
	margin: 0 0 0.5rem 0;
}

table caption + thead tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
    border-top: 0;
}

table tbody + tbody { border-top: --meta-color 2px solid; }

table table table { background-color: #FFF; }

th {
	color: #000;
    background-color: #F6F6F6;
}

dl dt {
    float: left;
    width: 180px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 700;
    margin-bottom: 1em;
}

dl dd {
    margin-left: 200px;
    margin-bottom: 1em
}

/*	==========================================================================
	Blog header
	========================================================================== */

.main {
    background-color: var(--bg-color);
}

.content {
    width: 80%;
    max-width: 650px;
    margin: 0 auto;
}

.main-header {
    position: relative;
    width: 100%;
    padding: 4rem 0 2rem 0;
    margin-bottom: 1rem;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    display: table;
}

.main-header-content {
	height: auto;
}

.blog-title {
    margin: 0;
    padding: 0;
    font-family: var(--font-meta);
    font-size: 5rem;
    vertical-align: middle;
    line-height: 1;
}

.blog-title a {
	color: var(--heading-color);
}

.blog-description {
	padding-top: 10px;
    margin: 0;
    font-size: 2rem;
    font-family: var(--font-meta);
    letter-spacing: 0;
    color: var(--heading-color);
}

/*	==========================================================================
	Navigation
	========================================================================== */

.nav {
	margin-top: 1rem;
}

.nav {
  	font-family: var(--font-meta);
}

.nav a {
	margin: 0 0.5rem;
	color: var(--primary-color);
	text-decoration: none;
}

.nav a:hover {
	color: var(--secondary-color);
}

a.nav-current {
	color: var(--secondary-color);
}

a.nav-home, a.nav-blog {
	color: #9EABB3;
}

/*	==========================================================================
	Site footer
	========================================================================== */

.site-footer {
    position: relative;
    display: table;
    width: 100%;
    margin-top: 3rem;
    padding-bottom: 1rem;
    text-align: center;
    overflow: hidden;
    font-size: var(--font-size-standard);
}

.site-footer a {
	color: var(--primary-color);
	text-decoration: none;
}

.site-footer a:hover {
	color: var(--secondary-color);
}


/* RSS - enable to replace the simple RSS icon with a round button */

/*
.site-footer .rss {
	margin: 1rem auto;
	width: 1.7rem;
	height: 1.6rem;
}

.site-footer .rss a {
	display: block;
	height: 100%;
	width: 100%;
	margin-left: -.2rem;
	padding: .35rem .1rem 0.05rem .2rem;
	vertical-align: middle;
	border: 1px #FC7E0F solid;
	border-radius: 1.2rem;
}

.site-footer .rss a:hover {
	color: #ffffff;
	background: #FC7E0F;
}
*/

/*	==========================================================================
	Posts
	========================================================================== */

.post {
    position: relative;
    margin: 2rem auto 1rem auto;
    /*padding-bottom: 1.2rem;*/
    word-break: break-word;
    hyphens: auto;
}

.post-header {
	margin-bottom: 0.5rem;
}

.post-title {
    font-family: var(--font-meta);
	line-height: 1.4;
}

.post-group {
	margin-top: 64px;
	color: var(--primary-color);
    font-family: var(--font-meta);
    font-size: 24px;
}

.post-meta {
  	color: var(--meta-color);
	text-transform: uppercase;
    font-family: var(--font-meta);
	font-size: 16px;
  	margin-top: .702rem;
}

a.p-category {
    color: var(--primary-color);
  	text-transform: lowercase;
    margin-left: 5px;
    border-bottom: none;
}

a.p-category:visited {
    color: var(--primary-color);
}

.post-footer {
	margin-top: 2rem;
}

.post-footer .tags a {
	color: var(--meta-color);
	text-decoration: none;
}

.post-footer .tags a:hover {
	color: var(--secondary-color);
}

.post-footer h4 {
	margin: 2rem 0 0;
}

.post-footer .share {
    margin: 0 auto;
}

.post-footer .share a {
    font-size: 16px;
    display: inline-block;
    margin: 1rem 1.6rem 1.6rem 0;
    color: var(--meta-color);
    text-decoration: none;
}

.post-footer .share a:hover {
    color: var(--secondary-color);
}

.post-note, .post-stats {
	background:#fff5b8;
	border-left: 2px solid var(--secondary-color);
	padding: 10px;
  	margin-right: 5px;
  	color: #333;
	border-radius: 5px;
}

.post-note a { color: var(--secondary-color);}

.post-note h2 { margin-top: 5px}

note {
	background: #fff5b8;
	color: #333;
}

.now-metadata { 
  	font-size: 16px;
  	color:#666; 
	margin: 5px auto 0;
}

.now-hl { 
	font-size: 14px; 
	color: #e24e42; 
  	margin: 5px auto 0;
  	padding: 0 5px;	
  	background-color: #fff5b8;
	border-radius: 3px;
}

.post img {
	display: block;
	max-width: 100%;	/* Keep image contained in width of post */
	height: auto;
	margin: 0 auto 0.5rem;
  	vertical-align: middle;
  	border-radius: 5px;  
}

.footnotes-sep {
	display: none;
}

.reply-mail {
	margin-bottom: 54px;
    font-family: var(--font-meta);
}

/* Koenig image styles */

.kg-image-card {
	margin-bottom: 0.5rem;
}

.kg-image-card img {
	margin-bottom: 0;
}

.post .kg-image-wide {
	max-width: 1050px;
	margin: 0 -200px;
}

.post .kg-image-full {
	max-width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
}

.kg-image-card figcaption {
	font-size: 0.79rem;
	text-align: center;
}


/* YouTube embed wrapper to scale to full-width */

.yt-wrapper {
	position: relative;
	width: 100%;
	margin: 0;
}

.yt-wrapper:before{
	content: "";
	display: block;
	padding-top: 56.25%;	/* 16:9 aspect ratio */
}

.yt-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*	==========================================================================
	Tags
	========================================================================== */

.tag-title {
    font-family: var(--font-family);
    font-size: 24px;
	font-weight: bold;
	margin-top: 0;
}

.tag-image {
	max-width: 100%
}

.tag-description {
	color: var(--meta-color);
}

/* ==========================================================================
   Pagination
   ========================================================================== */

/* The main wrapper for pagination links */
.pagination {
    position: relative;
    margin: 2rem auto;
    font-size: 18px;
    color: var(--meta-color);
    text-align: center;
}

.pagination a {
    color: var(--meta-color);
}

/* Push the previous/next links out to the left/right */
.older-posts,
.newer-posts {
    position: absolute;
    display: inline-block;
    text-decoration: none;
}

.older-posts {
    right: 0;
}

.page-number {
    display: inline-block;
    padding: 2px 0;
    min-width: 100px;
}

.newer-posts {
    left: 0;
}

.older-posts:hover,
.newer-posts:hover {
    color: var(--secondary-color);
}

.extra-pagination {
    display: none;
}

.extra-pagination .pagination {
    width: auto;
}

/* On page2+ show extra pagination controls at the top of post list */
.paged .extra-pagination {
    display: block;
}

video {
	max-width: 100%;
}

/* ==========================================================================
   BigFoot Customizations
   ========================================================================== */
.bigfoot-footnote__content{
  color: #222;
}

/* ==========================================================================
   Webmentions Customizations
   ========================================================================== */
.microblog_conversation {
  margin-top: 50px;
  padding-top: 20px;
  border-top: 1px solid lightgray;
}

.microblog_post {
  padding-top: 20px;
  padding-bottom: 20px;
}

.microblog_user {
  margin-bottom: 10px;
}

.microblog_avatar {
  border-radius: 10px;
  vertical-align: middle;
}

.microblog_time {
  font-size: 14px;
  color: var(--meta-color);
}

.microblog_time a {
  color: var(--meta-color);
  text-decoration: none;
  font-family: var(--font-meta);
}

.microblog_text a {
  color: var(--primary-color);
  text-decoration: none;
}

.microblog_text p {
  margin-bottom: 5px;
}

/* ==========================================================================
   12. Media Queries - Smaller than 500px
   ========================================================================== */

@media only screen and (max-width: 500px) {

	body, .site-footer, .pagination {
		font-size: 16px;
	}

   .blog-title {
		font-size: 36px;
	}

    .blog-description {
        font-size: 18px;
    }

    .nav {
        width: 90%;
        margin: 10px auto;
    }

    .page-number {
		display: none;
	}

    .site-footer {
        margin-top: 88px;
    }
	
	.field {
		width: 220px;
		height: 24px;
		margin-top: 0;
	}    
}

@media (max-width: 950px) {
	.post .kg-image-wide {
		max-width: 120%;		/* Start calculating as percentage of viewport? */
		margin: 0 -10%;
	}
}

@media (max-width: 1100px) {
	.post .kg-image-wide {
		max-width: 140%;
		margin: 0 -20%;
	}
}

@media(prefers-color-scheme: dark) {
	:root {
        --primary-color: #faed26;
	    --secondary-color: #0091D5;
	    --font-color: #e8e8f0;
	    --bg-color: #222;
	    --heading-color: #e8e8f0;
        --meta-color: #9e9e9e;
        --font-family: Lora, "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        --font-meta: Raleway, "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        --font-size-standard: 20px;
    } 
}